{% extends 'base.html' %}

{% block title %}Спасибо за участие | AI Survey{% endblock %}

{% block content %}
<div class="thank-you-container">
    <h2>Спасибо за ваши ответы!</h2>
    <p>Мы учтём вашу информацию при подготовке курса.</p>
    
    <div class="next-steps">
        <p>Что дальше?</p>
        <ul>
            <li>Мы проанализируем ваши ответы</li>
            <li>Адаптируем материалы под ваши потребности</li>
            <li>Скоро свяжемся с вами для начала обучения</li>
        </ul>
    </div>

    <a href="/" class="button">Вернуться на главную</a>
</div>
{% endblock %}
